.home {
  padding: 70px 17% 60px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.795)), url('/src/Home/Img/fondo.jpg');
  background-repeat: no-repeat ;
  
  background-size: cover;
*/
  background-color: rgb(1, 19, 0);
}

.inicio {
  position: relative;
  height: 110vh;
  width: 100%;
  padding: 0 0 50px 0;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inicioContenido h1 {
  /* font-size: ; */
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.inicioContenido p {
  /*font-size: ; */
  font-weight: 500;
  line-height: 30px;
  color: #ffffffce;
  margin-bottom: 35px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(50, 138, 0);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all .50s ease;
  cursor: pointer;
}

.btn:hover {
  transform: translateX(10px);
  border: 2px solid rgb(50, 138, 0);
  background: transparent;
  color: rgb(50, 138, 0);
}


.tarjetaInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
  padding: 150px 0 200px 0;
}


.tarjeta-text h2 {
  /*font-size: ;*/
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}

.tarjeta-text p {
  /*font-size: ;*/
  font-weight: 500;
  line-height: 30px;
  color: #ffffffce;
  margin-bottom: 35px;
}


.tarjeta-Img img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.884);
}


.center-text {
  text-align: center;
}

.center-text h2 {
  /* font-size: ; */
  font-weight: 800;
}

.localidad-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 3rem;
  margin-top: 5rem;
}

.box {
  position: relative;

}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%);
  transition: all .3s cubic-bezier(.499, .05, .55, .95);
  will-change: filter;
  display: block;

}

.box img:hover {
  filter: brightness(30%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}

.box h6 {
  position: absolute;
  left: 25px;
  bottom: 95px;
  font-size: 15px;
  font-weight: 500;
}

.box h4 {
  position: absolute;
  left: 25px;
  bottom: 65px;
  font-size: 20px;
  font-weight: 700;
}

.center-btn {
  text-align: center;
  margin-top: 4rem;
}

.center-btn {
  text-align: center;
  margin-top: 4rem;
}

.center-btn:hover {
  text-align: center;
  margin-top: 4rem;
  zoom: 1;
}